.author__avatar leia_logo.png,
.author__avatar {
  border-radius: 0;
  max-width: 2000px;
  border-radius: 100;
}

/* .my-custom-image {
  /* Your styles here */
/*   border-radius: 0;
  max-width: 2000px;
  border-radius: 100;
/* } */ 
/* .author__avatar img
Specificity: (0,1,1)
 {
    max-width: 2000px;
    border-radius: 100;
}
 */
